.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
     border: 1px solid rgba(255, 255, 255, 0.1); /* optionnel, léger contour */
     border-radius: 20px;
     width: 50%;
     height: auto;
     overflow: auto;
     margin-bottom: 5rem;
     margin-top: 5rem;
     
}
.projectImg{
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.projectImg img{
    width: auto;
    height:100%;
}
.icons{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.icons .bi{
    display: block !important;
    font-size: 50px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.icons .bi:hover{
    background: linear-gradient(90deg, #fff, #ccc); /* gradient subtil */
    color: black;
}
.projectCorps{
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projectCorps ul{
    line-height: 1.2rem;
    text-align: left;
}

.stack{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    flex-wrap: wrap;
}
.stack h4{
    width: fit-content;
    height: fit-content;
    padding: .2rem;
    font-size: 10px;
    border-radius: 20px;
    color: white;
    background-color: #58a6ff;
    text-wrap: nowrap;
}
.pDetail{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pDetail ul{
    width: 50%;
    height: fit-content;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#titre{
    font-size: 20px;
    margin: 1rem;
}
 .projectCorps ul li{
    font-size: 14px;
   }

@media screen and (max-width:768px){
   .icons .bi{
    font-size: 15px;
   }
   .pDetail{
    justify-content: flex-start;
    align-items: center !important;
   }
   .projectImg img{
    height: 250px;
   }
   .icons{
    width: 100%;
   }
   h1{
    font-size: 16px !important;
   }
   .project{
    width: 100%;
    border: 0;
    color: white !important;
    font-weight: 400 !important;
   
   }
   .pDetail ul{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    line-height: .8rem !important;
    padding: 2rem !important;
   }
   ul li{
    font-size: 10px !important;
   }
}  

