.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container .section {
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.h1 {
  position: relative;
  cursor: pointer;
  width: 50%;
  text-align: center;
  background: linear-gradient(90deg, #58a6ff, #0d1117);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #58a6ff;
  transition: width 0.5s ease;
}
.h1:hover::after {
  width: 100%;
}

.heroe {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  width: 100%;
  row-gap: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
.intro h1 {
  font-size: 100px;
  background: linear-gradient(90deg, #58a6ff, #c9d1d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem;
  border-radius: 10px;
  font-weight: bold;
}
.intro h1::first-letter {
  color: #c9d1d9;
}
.intro p {
  font-size: 30px;
  background: linear-gradient(90deg, #c9d1d9, #58a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  text-align: center;
  text-wrap: nowrap;
}
.btns {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 1rem;
}
button {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
  font-size: 20px;
  background: none;
  cursor: pointer;
  color: white !important;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 8px rgba(88, 166, 255, 0.4), 0 0 16px rgba(88, 166, 255, 0.5),
    0 0 24px rgba(88, 166, 255, 0.6);
}
button:hover {
  box-shadow: 0 0 20px rgba(88, 166, 255, 0.6);
  background-color: #58a6ff;
  transition: all 0.3s ease;
  color: white !important;
  text-decoration: underline;
}
#SavoirPlus:hover {
  color: white !important;
  background: none;
  text-decoration: underline;
}
/************************page about*********************************/
.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
}
.presentation {
  column-gap: 1rem;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 600px;
  border-radius: 12px;
  background: linear-gradient(145deg, #0d1117, #161b22); /* gradient subtil */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.imgDiv {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.about {
  padding: 2rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.imgDiv img {
  width: 100%;
  height: auto;
}

/********************section projet***************************/
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
/*************************************page projects *********************************/
.Project-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: linear-gradient(to top, #0d1117, #161b22); /* gradient subtil */
  flex-direction: column;
  color: #c9d1d9;
}
.entete {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 1000;
  background-color: #161b22;
  opacity: 1;
  top: 0;
  padding-top: 1rem;
}
.entete .bi {
  display: block !important;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
}

.entete2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 1000;
  background-color: #0d1117;
  opacity: 1;
  bottom: 0;
  padding-bottom: 1rem;
}
.entete2 .bi {
  display: block !important;
}

/******************************************** contact ***************************************/
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  max-width: 100%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}
.inputcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
input {
  width: 100%;
 color: white;
 
}
label {
  font-size: 10px;
}
textarea {
  width: 100%;
  color: white;
}
#submit {
  font-size: 10px;
  width: 100%;
  text-align: center !important;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  font-weight: bold;
  border-radius: 0;
}


/************************ media queries**************************************/
@media screen and (min-width: 769px) and (max-width: 1224px) {
  .about p {
    font-size: 14px;
  }
  .presentation {
    height: fit-content;
  }
  .intro {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
    padding: 1rem;
  }
  .intro p {
    font-size: 14px;
    text-wrap: wrap;
    text-align: center;
    line-height: 1.5rem;
    width: 100%;
  }
  .intro h1 {
    font-size: 25px !important;
    text-align: center !important;
    margin: 0;
    width: 100%;
    text-wrap: nowrap;
    
  }
  button {
    font-size: 8px !important;
    padding: 0.2rem;
  }
  .presentation {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }
  .imgDiv {
    height: 70%;
    width: 100%;
  }
  .about {
    width: 90%;
    height: fit-content;
    background: linear-gradient(145deg, #0d1117, #161b22); /* gradient subtil */
  }
  .about p {
    max-width: 100%;
    text-align: left;
    line-height: 1.1;
    font-size: 10px;
  }
  .projects {
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;
  }
  .h1 {
    width: 90%;
  }
  .entete,
  .entete2 {
    width: 98%;
    justify-content: space-between;
  }
  .home-container {
    row-gap: 5rem;
  }
  .home-container .section {
    min-height: 0 !important;
    height: fit-content !important;
  }
  .contact-container {
    background: linear-gradient(145deg, #0d1117, #161b22); /* gradient subtil */
    width: 90%;
    padding:.5rem;
    border-radius: 20px;
    height: fit-content;
  }
  .inputcon{
    flex-direction: row;
    align-items: center;
    background-color: #161b22;
    border-radius: 20px;
    padding: 1rem;
    width: 90%;
  }
  input, textarea{
    background: none;
    border: 0;
    flex-grow: 1;
    font-size: 8px;
    text-align: center;
  }
  #submit{
     background-color: #161b22;
     color: white !important;
     width: 90%;
     padding: .8rem;
     border-radius: 20px;
  }
}
