.serviceCarte-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 350px;
    min-width: 300px;
    width: 350px;
    max-width: 100%;
    padding: .5rem;
    border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1); /* optionnel, léger contour */
    transition: opacity .3s ease;
    cursor: pointer;
}
.serviceCarte-container:hover{
      opacity: .7;
}
.serviceCarte-container h1{
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    text-overflow: clip;
    text-wrap: wrap;
    word-spacing: .1rem;
}
.sCorps{
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    left:50%
    translateX(-50%);
}
.sCorps p{
    text-align: center;

}

.serviceCarte-container button{
    color: white;
}
.icon .bi{
    font-size: 100px;
    color: white !important;
    display: block;
}

.icon{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%; 
}

